<div class="hero-unit">
  <h1>Node Knockout 2013</h1>
  <h2>Team meltmedia</h2>

  <ul>
    <li>Current Deployment: <a href="http://meltmedia.2013.nodeknockout.com/">http://meltmedia.2013.nodeknockout.com</a></li>
    <li>Number of deploys: <strong>{{deploys}}</strong> | <button ng-click="increment('deploys')">+</button></li>
    <li>Beers Consumed: <strong>{{beer}}</strong> | <button ng-click="increment('beer')">+</button></li>
    <li>Caffeinated Beverages Consumed: <strong>{{caffeine}}</strong> | <button ng-click="increment('caffeine')">+</button></li>
  </ul>
  
</div>